/*
  ===========================
  BOX MODEL HACK
  ===========================
*/

* {
     box-sizing: border-box;
}

/*
  ===========================
  CLEARFIX HACK
  ===========================
*/

.clearfix:before, .clearfix:after {
     content: "";
     display: block;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clearfix:after {
     clear: both;
}

.clearfix {
	clear: both;
     *zoom: 1;
}

/*
  ===========================
  BASE STYLES
  ===========================
*/

html {
  font-size: 62.5%;
}

html * {
  text-decoration: none;
  font-family: "Roboto Condensed", "Open Sans", sans-serif;
}

.fold-one, .fold-two, .fold-three,
.fold-four, .fold-footer {
  width: 100vw;
}

body > section > * {
  width: 960px;
  margin: 0 auto;
}

/*
  ===========================
  LAYOUT STYLES
  ===========================
*/

header > *, li, .video-icon,
.fold-three > section > section,
.video-link span,
.social-icon, .social-icon img,
.footer-links,
.footer-small-text small {
  float: left;
}

.nav-buttons, .donate-button,
.footer-address, address,
.logo-icon.footer {
  float: right;
}

header, .logo-icon,
.fold-three > section,
.footer-small-text {
  overflow: auto;
}

h1, h1 + p,
h2, h2 + p, 
h3, h3 + p,
.teaser-image,
.video-link,
.donate-button,
.main-page-button {
  text-align: center;
  margin: 0 auto;
}

.fold-one > main,
.fold-two > section,
.fold-three > section,
.fold-four > section {
  padding: 5%;
}

.fold-three > section > section {
  width: 50%;
}

footer {
  padding: 0 2.5% 2.5% 2.5%;
}

footer > section {
  padding-bottom: 1%;
}

.footer-links, .footer-address {
  width: 50%;
}

.footer-links {
  padding: 2% 0 0 0;
}

.footer-address {
  padding: 3% 0 0 0;
}

.footer-small-text {
  border-top: 1px solid white;
}

/*
  ===========================
  MODULE STYLES
  ===========================
*/

.header-links {
  width: 20%;
  padding: 1.5% 0 1.5% 2%; 
}

.header-links li {
  padding-right: 10%;
}

.logo-icon {
  width: 3%;
}

.donate-button {
  aspect-ratio: 2.5 / 1;
  width: 30%;
  padding: 4% 0;
  border-radius: 10%;
}

.video-icon {
  width: 30%;
}

figure img {
  width: 100%;
}

.logo-icon.header {
  margin: 0 28%;
}

.video-link {
  width: 20%;
}

.video-link span {
  padding: 10% 0;
}

.logo-icon span {
  display: block;
}

.nav-buttons {
  width: 20%;
  padding: .75% 2% .75% 0;
}

.main-page-button {
  width: 40%;
  aspect-ratio: 4 / 1;
  padding: 2.5% 0;
  display: block;
  border: 1px solid #161f2a;
}

.fold-four .main-page-button {
  width: 20%;
  padding: 1.25% 0;
  margin-top: 3%;
}

.teaser-image {
  width: 80%;
  aspect-ratio: 16 / 9;
  margin-top: 5%;
  margin-bottom: 7.5%;
}

.social-icon {
  width: 8%;
  padding: 0 2.5% 2.5% 0;
}

.nav-site-map {
  padding: 0 0 3% 0;
}

.footer-links ul {
  padding: 0 0 2% 0;
}

.footer-links li {
  padding: 1% 5% 1% 0;
}

.footer-small-text small {
  padding: 1% 0 0 0;
  width: 60%;
}

h1 + p {
  padding: 3% 0;
}

h2 + p {
  padding: 3% 25% 0 25%;
}

h3 + p {
  padding: 5%;
}

/*
  ===========================
  THEME STYLES
  ===========================
*/

.fold-one {
  background: #66768a;
}

.fold-two, .fold-four {
  background: white;
}

.fold-three {
  background: #dbdfe2;
}

.fold-footer {
  background: #161f2a;
}

.fold-one *, .fold-footer * {
  color: white;
}

.fold-two *, .fold-three *, 
.fold-four * {
  color: #161f2a;
}

.donate-button {
  background: white;
  color: #66768a;
  font-weight: bold;
}

.teaser-image {
  background: #66768a;
}

header *, p 
footer * {
  font-family: "Open Sans", sans-serif;
}

.header-links > li > a {
  font-weight: bold;
}

h2, h3 {
  font-weight: bold;
  color: #161f2a;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

h1 + p,
.main-page-button {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.video-link span {
  font-size: 1.5rem;
}

h2 {
  font-size: 4rem;
}

h2 + p,
h3 + p {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-size: 3rem;
}

.footer-links h4 {
  color: #66768a; 
}

.footer-links *,
.footer-address span,
.footer-address a[href*="@"],
.footer-small-text {
  font-weight: bold;
}

.footer-address * {
  line-height: 1.5rem;
}

.footer-small-text small {
  line-height: 1.5rem;
}

/*
  ===========================
  MEDIA QUERIES STYLES
  ===========================
*/

@media all and (max-width: 960px) {
  body > section > *,
  .fold-three section section {
    width: 100%;
    margin: 0 auto;
  }

  .main-page-button, 
  .fold-four .main-page-button {
    width: 25%;
    padding: 1.25% 1.25%;
    margin: 3% auto 0 auto;
  }

  .video-link {
    width: 30%;
  }
}

@media all and (max-width: 560px) {
  .main-page-button, 
  .fold-four .main-page-button {
    width: 35%;
  }

  .video-link {
    width: 50%;
  }
}